<div class="container">
  <span class="title">Education</span>

  <main class="row">
    <section class="col">
      <div class="contents">
        <div class="box">
          <span class="date">2018 - 2021</span>
          <span class="pseudo-title">High School Degree</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="box">
          <span class="date">2022 - 2023</span>
          <span class="pseudo-title">Preparatory Cycle Degree</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>

        <div class="box">
          <span class="date">2024</span>
          <span class="pseudo-title">Bachelor's Degree</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>

        <div class="box">
          <span class="date">2025 - ..</span>
          <span class="pseudo-title">Master Degree</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
      </div>
    </section>

  </main>
</div>
