<div class="social-icons">
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to right, #0077b5, #121bc4)"
    ><img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAX5JREFUWEftlz1KBEEQhb8NDLyFRmaCYKKJeg0x0EiM9AbqBYzFRGHxHIqgoYk/oIlewMQT6JNu6Omp3pmFHnthppOF3Z6qr1+/qqkdMWNrNGM8DEBNN5JSaBk4BJaAF+AMeGsKluN3C2gFuAfmgwRfwDrwniPppBgW0BjYMR46Bw5KAD0CUiled8BGCaDr36vZNhJfAPslgFaBB2AuSP4NrAGvJYCUU1BHrsqeXZU9dQ2j+L1sjAtO2c82ClsKbQLHxsOnwK37XkkuJ+zxMfQZLj0fxqmFsIB2E8m2IqAPA0h7dJgYJN4qqBNLsdxAUqAJxnPsAVcxVG6gNjbxewQvRSurayAZ2Zvagl0EKmbvAkgn13X4RPKkfGWBhb78A+4CyIqpihRYvGo+yg1k+sLBpNpEpdpyA6XKWZV3k+hbRYDkH6tv1Q7wXwoNQN4eKQ8NCg0KSYE240c/PKSuas00ml3CN7M1YOnV4afKuDG32t/LIX+aoa2ff4OmUugHGkKBJaJuJAAAAAAASUVORK5CYII="
    />
    <span class="social-text">LinkedIn</span></a
  >
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to right, #b85bd4, #4f2378)"
    ><img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAgtJREFUWEfdmIlNA0EMRX86gUqATqASoBKgEqAS6ATypfXK4/U1sBERI0WJ2Dmev4/xcsCZjcOZ8eDfAF0AuAVwBYC/+flc1OY3Py8A3mY9MKvQA4D7iUMEjOtaowt0DeBpUaK1sZnUBusAzaqSAT8eH6ZqVUCvxzigOnuOZwB30YYZ0J7K2PNDpSIgqkJ19BCrmFnMsM7Q2ebtR7WGEQF9OAGs5xKY2fa+7CbpzfSXUsC01wda9xP2sgNE65lRevDAm44kyRwvHjeu8xTy1HGtmQRs7WuBKDkX2nEqhXgOlV8rugXy3LVZNKmMTI+MHcqABWLs2AzaQx2B8uJo2N8CeQvSQjapllfbhvi0QF7gleV+AsoLiRToLxSiPaswHZftGUNejKZBXfp4wj3e1C/njymQd4dxjz0COyopvCPXK6ZbGNsNVqBgZGhZGDlBBzZBWNA4BIrWSP9ceVB676jt3cSnd5dpa5jyBKDcsqk08fz2Gi39AlA1d8O1MaSbMVWrxENpCTNEH5Bln5dNrfsx6of0vUMlpPWgSgIloJ7bspiR+Rt1MoX4TGfFbJZVQENmaYuqJt9CsQvUL4RRUGdAIUylkBzWqh+GLAJKYbpAnMeYYvzo1iTb3AJJRpav1pXLrEsIJtnmBuWyQIDaIHLQLFBVCPVz/Q+I9rpTArUhZrLsR5v+ZtHZKfQNSrKCJfqXMEMAAAAASUVORK5CYII="
    />
    <span class="social-text">Github</span></a
  >
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to left, #0077b5, #121bc4)"
    ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
      <path
        d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
      />
    </svg>
    <span class="social-text">Facebook </span></a
  >
</div>
