.social-icons {
    
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transform: translateX(65%);
    transition: transform 0.3s ease;
    width: 90px;
}

.social-icon img {
    width: 20px;
    height: 20px;
}

.social-icon .social-text {
    margin-left: 10px;
    white-space: nowrap;
}

.social-icon:hover {
    transform: translateX(0);
}
