<div class="social-icons">
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to right, #0077B5, #121bc4)"
    ><img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAX5JREFUWEftlz1KBEEQhb8NDLyFRmaCYKKJeg0x0EiM9AbqBYzFRGHxHIqgoYk/oIlewMQT6JNu6Omp3pmFHnthppOF3Z6qr1+/qqkdMWNrNGM8DEBNN5JSaBk4BJaAF+AMeGsKluN3C2gFuAfmgwRfwDrwniPppBgW0BjYMR46Bw5KAD0CUiled8BGCaDr36vZNhJfAPslgFaBB2AuSP4NrAGvJYCUU1BHrsqeXZU9dQ2j+L1sjAtO2c82ClsKbQLHxsOnwK37XkkuJ+zxMfQZLj0fxqmFsIB2E8m2IqAPA0h7dJgYJN4qqBNLsdxAUqAJxnPsAVcxVG6gNjbxewQvRSurayAZ2Zvagl0EKmbvAkgn13X4RPKkfGWBhb78A+4CyIqpihRYvGo+yg1k+sLBpNpEpdpyA6XKWZV3k+hbRYDkH6tv1Q7wXwoNQN4eKQ8NCg0KSYE240c/PKSuas00ml3CN7M1YOnV4afKuDG32t/LIX+aoa2ff4OmUugHGkKBJaJuJAAAAAAASUVORK5CYII="
    />
    <span class="social-text">LinkedIn</span></a
  >
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to right, #9333af, #561f89)"
    ><img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAgtJREFUWEfdmIlNA0EMRX86gUqATqASoBKgEqAS6ATypfXK4/U1sBERI0WJ2Dmev4/xcsCZjcOZ8eDfAF0AuAVwBYC/+flc1OY3Py8A3mY9MKvQA4D7iUMEjOtaowt0DeBpUaK1sZnUBusAzaqSAT8eH6ZqVUCvxzigOnuOZwB30YYZ0J7K2PNDpSIgqkJ19BCrmFnMsM7Q2ebtR7WGEQF9OAGs5xKY2fa+7CbpzfSXUsC01wda9xP2sgNE65lRevDAm44kyRwvHjeu8xTy1HGtmQRs7WuBKDkX2nEqhXgOlV8rugXy3LVZNKmMTI+MHcqABWLs2AzaQx2B8uJo2N8CeQvSQjapllfbhvi0QF7gleV+AsoLiRToLxSiPaswHZftGUNejKZBXfp4wj3e1C/njymQd4dxjz0COyopvCPXK6ZbGNsNVqBgZGhZGDlBBzZBWNA4BIrWSP9ceVB676jt3cSnd5dpa5jyBKDcsqk08fz2Gi39AlA1d8O1MaSbMVWrxENpCTNEH5Bln5dNrfsx6of0vUMlpPWgSgIloJ7bspiR+Rt1MoX4TGfFbJZVQENmaYuqJt9CsQvUL4RRUGdAIUylkBzWqh+GLAJKYbpAnMeYYvzo1iTb3AJJRpav1pXLrEsIJtnmBuWyQIDaIHLQLFBVCPVz/Q+I9rpTArUhZrLsR5v+ZtHZKfQNSrKCJfqXMEMAAAAASUVORK5CYII="
    />
    <span class="social-text">Github</span></a
  >
  <a
    href="#"
    class="social-icon"
    style="background: linear-gradient(to right, #f05252, #690505)"
    ><img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAU1JREFUWEftl9sNwjAMRdNNYBOYBJgEmAQ2gU1gE+iR6iqYpE7ThwpKJD5QiH16r+2Uyi1sVQvjcQXIcqQo9BcKbZxzq+Zzdc49rafK2N83Z+46vq4hYG4qwbn+fspIGjpCnKPaWPtQGggYoPRCKcCGqBWLjUpbSaiBXh1KAMPBvlDYf4k86BdHHyA5fKjrC8VSFrUCjLVajhwggqdYGLMoBDcYiKAxC6lBCjdUizGlRgEKWRjqIssu9kcFEgsp3j6q+KCjA6Wo0PWb3weS2YMtOcs631shAjLimSlyD6WCySR+NPfjKG0vQASjk3Ydwf2E/j04GRAJ6SbUilnIAzDRUUfWpECSJGThx2U5N5C2sOtVZRaFRAAZiL5FunhnBUrpuAJkqZSlUOyQP4esxLH9pNihl/zQu8xUQDQBndk2Q/nnavldFCoKWQpY+2/kslYlSqGzagAAAABJRU5ErkJggg=="
    />
    <span class="social-text">Gmail </span></a
  >
</div>
