<div class="content">
  <span class="title">About Me</span>
  <p class="align-text">
    Explore my portfolio to see how I bring ideas to life through fullstack
    development. Let's collaborate to build something remarkable together.
  </p>

  <section>
    <img src="/assets/profil-photo.jpg" alt="" />

    <div class="container">
      <span class="pseudo-title">Fullstack Developer</span>
      <p class="align-text">
        Explore my portfolio to see how I bring ideas to life through fullstack
        development.
      </p>
      <div class="personal-info">
        <p>Birthday: 12 August 2002</p>
        <p>Age: 22</p>
        <p>Website: WWW.walaYousfi.com</p>
        <p>Degree: Bachelor</p>
        <p>Phone: <span>+219 58 000 792</span></p>
        <p>Email: <span>yousfiwala9&#64;gmail.com</span></p>
        <p>City: Sidi Bouzid, Tunisia</p>
        <p>Freelance: Available</p>
      </div>
      <p class="left-border">
        Explore my portfolio to see how I bring ideas to life through fullstack
        development. Let's collaborate to build something remarkable together.
        Explore my portfolio to see how I bring ideas to life through fullstack
        development. Let's collaborate to build something remarkable together.
        Explore my portfolio to see how I bring ideas to life through fullstack
        development. Let's collaborate to build something remarkable together.
      </p>
    </div>
  </section>
</div>
