@use "@angular/material" as mat;
@import url("https://use.typekit.net/jnq3uxd.css");
@include mat.core();
$custom-typography: mat.define-typography-config(
  $font-family: "sofia-pro",
);

$custom-pink-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #f56595,
  500: #ed5386,
  600: #c7517c,
  700: #d3417b,
  800: #cd3879,
  900: #cb4c8f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #ff2e77,
  A700: #db4c8c,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-blue-palette: (
  50: rgb(67, 183, 171),
  100: rgb(67, 183, 171),
  200: rgb(67, 183, 171),
  300: rgb(67, 183, 171),
  400: rgb(67, 183, 171),
  500: rgb(67, 183, 171),
  600: rgb(67, 183, 171),
  700: rgb(67, 183, 171),
  800: rgb(67, 183, 171),
  900: rgb(67, 183, 171),
  A100: rgb(67, 183, 171),
  A200: rgb(67, 183, 171),
  A400: rgb(67, 183, 171),
  A700: rgb(67, 183, 171),
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-pink: mat.define-palette($custom-pink-palette);
$custom-blue: mat.define-palette($custom-blue-palette);
$mat-red: mat.define-palette(mat.$red-palette);

// $theme-dark: mat.define-dark-theme(
//   (
//     color: (
//       primary: $custom-pink,
//       accent: $custom-blue,
//       warn: $mat-red,
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
//   )
// );

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: $custom-blue,
      accent: $custom-pink,
      warn: $mat-red,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-colors($theme-light);
// @include mat.all-component-colors($theme-dark);

// .theme-dark{
//     @include mat.all-component-colors($theme-dark);
// }

// .theme-light{
//     @include mat.all-component-colors($theme-light);
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
* {
  font-family: df;
}
a {
  color: black;
  text-decoration: none;
}
:root {
  --main-color: rgb(67, 183, 171);
}
