.sidenav-container {
  height: 100%;
}

.logo {
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
  color: var(--main-color);
}
.mat-drawer-side {
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.sidenav {
  width: 200px;
  font-family: sofia-pro;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 1 auto;
}

a {
  font-size: 1em;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.5s ease;
  border-bottom: 3px solid transparent;
}
a:hover,
a span.hilight {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.avatar {
  width: 1.75em;
  border-radius: 50%;
  margin: 0 10px 5px;
}
mat-icon {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .mat-toolbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
  }
}
