<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar> Menu </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" class="hilight" (click)="drawer.close()"
        ><span class="hilight">Home</span></a
      >
      <a mat-list-item routerLink="/about" (click)="drawer.close()"
      >About</a
    >
      <a mat-list-item routerLink="/education" (click)="drawer.close()"
        >Education</a
      >
      <a mat-list-item routerLink="/services" (click)="drawer.close()"
        >Services</a
      >
      <a mat-list-item routerLink="/projects" (click)="drawer.close()"
        >Projects</a
      >
      <a mat-list-item routerLink="/contacts" (click)="drawer.close()"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" class="logo"><span>Wala</span> Yousfi</span>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a routerLink="/" (click)="drawer.close()"
          ><span class="hilight">Home</span></a
        >
        <a routerLink="/about" (click)="drawer.close()">About</a>
        <a routerLink="/education" (click)="drawer.close()">Education</a>
        <a routerLink="/services" (click)="drawer.close()">Services</a>
        <a routerLink="/projects" (click)="drawer.close()">Projects</a>
        <a routerLink="/contacts" (click)="drawer.close()">Contact</a>
      </div>
    </mat-toolbar>
    <app-social-media></app-social-media>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
